# Data
data/train/
data/valid/
data/test/
data/*.zip

# Model artifacts
# results/*.pt    # Uncomment if you DON'T want to commit the model
results/*.pth
*.ckpt

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/
venv/
venv311/
.venv/
*.egg-info/

# OS
.DS_Store